
@media (max-width: 575.98px) {
    #mensagem button.botao{
        width: 100%;
        margin-bottom: 10px;
    } 
    span.nome {
        font-size: 40px;
    }
    #habilidades h2{
        border-bottom: 1px solid #000;
        font-size: 20px;
    }
}
@media (max-width: 766.98px) {
    #mensagem button.botao{
        width: 100%;
        margin-bottom: 10px;
    }
}